# ---------------------------------------------------------------------------
# Inkfuse Gitlab CI
# ---------------------------------------------------------------------------

default:
    image: kunitoki/clang-11

stages:
    - test

tests:
    stage: test
    script:
        - mkdir -p build
        - cd build
        - cmake -GNinja -DCMAKE_BUILD_TYPE=Debug ..
        - ninja
        - ./tester

linter:
    stage: test
    script:
        - mkdir -p build
        - cd build
        - cmake -GNinja -DCMAKE_BUILD_TYPE=Debug ..
        - ninja
        - ninja lint
    allow_failure: true
